.form_style
{
    text-align: center;
    justify-content: center;
    padding: 5%;
    border: 2px blue solid;
}

.label_style
{
    padding: 5%;
}

.input_margin
{
    margin: 1%;
}

.input1
{
margin-left: 5%;
}
.input2
{
    margin-left:5.5%;
}
.input3
{
    margin-left: 2%;
}
.input4
{
    margin-left: 7.5%;
}
